.banner-bg {
    background: url("https://i.ibb.co/2jYF5nj/banner.jpg"), linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85));
    background-blend-mode: overlay;
    background-size: cover;

    background-repeat: no-repeat;
    padding-top: 100px;
    margin-top: -110px;
}